<main fxLayout="column" fxLayoutGap="30px">
  <div fxLayout fxLayoutGap="10px">
    <button mat-raised-button color="primary" (click)="new()">
      Add New
    </button>

    <mat-form-field fxFlex>
      <input matInput placeholder="Search Items" />
    </mat-form-field>
  </div>

  <mat-accordion class="dashboard-card">
    <mat-expansion-panel *ngFor="let p of products">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ p.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ p.distributor }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section fxLayout fxLayoutAlign="space-between center">
        <mat-list dense>
          <mat-list-item> Name: {{ p.name }} </mat-list-item>
          <mat-list-item> Generic: {{ p.genericName }} </mat-list-item>
          <mat-list-item> Description: {{ p.description }} </mat-list-item>
          <mat-list-item> Distributor: {{ p.distributor }} </mat-list-item>
        </mat-list>

        <mat-list dense>
          <mat-list-item> Quantity: {{ p.qty }} </mat-list-item>
          <mat-list-item> List Price: {{ p.listPrice }} </mat-list-item>
          <mat-list-item> Retail Price: {{ p.retailPrice }} </mat-list-item>
          <mat-list-item> Expiry: {{ p.expiry }} </mat-list-item>
        </mat-list>
      </section>

      <mat-action-row fxLayoutGap="20px">
        <button mat-raised-button color="warn">
          Delete
        </button>

        <button mat-raised-button color="primary" (click)="update(p)">
          Update
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</main>
