<mat-sidenav-container fullscreen class="sidenav-container">
  <!-- Left menu -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list click="closeSidenav()">
      <div *ngFor="let menu of sideMenu">
        <a
          mat-list-item
          [routerLink]="menu.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>{{ menu.title }}</span>
          <div class="spacer"></div>
          <mat-icon>{{ menu.icon }}</mat-icon>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <!--        *ngIf="isHandset$ | async">-->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <button mat-stroked-button routerLink="/">
        <span>{{ title }}</span>
      </button>

      <div class="spacer"></div>

      <div *ngIf="(auth.user$ | async); then authenticated; else guest">
        <!-- template will replace this div -->
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- Main content -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #guest>
  <button mat-stroked-button routerLink="/login">
    <mat-icon>account_box</mat-icon>
    <span>Login</span>
  </button>
</ng-template>

<ng-template #authenticated>
  <div *ngIf="(auth.user$ | async) as user">
    <button mat-stroked-button [matMenuTriggerFor]="userActions">
      <mat-icon>account_box</mat-icon>
      {{ user.firstName }} {{ user.lastName }}
    </button>

    <mat-menu #userActions="matMenu">
      <div *ngIf="(auth.user$ | async)">
        <button mat-menu-item routerLink="/profile">
          <span>Profile</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      </div>
    </mat-menu>
  </div>
</ng-template>
