.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-nav-list {
  padding-top: 0;
}

.nav-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-nav-list a.active {
  background: #c0c0c2 !important;
}
